//@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel&family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel&family=Cormorant+SC:wght@300&family=Petit+Formal+Script&display=swap');
:root {
    --bg-color: pink;
    --font-color: black;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}