@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel&family=Cormorant+SC:wght@300&family=Petit+Formal+Script&display=swap');
.historia {
    background-color: #FFFFE8;

    h1{
        font-family: 'Amatic SC', cursive;
        text-align: center;
        font-size: 50px;
        color: rgb(206, 196, 96);
        
       
    }
    h3{
        font-family: 'Amatic SC', cursive;
        text-align: center;
        font-size: 25px;
        color: gray;
       
    }
  
}
